body {
}

.caption {
    text-align: center;
    padding: 10px;
    background-color: #b9d8ea; 
    color: #000000; 
}
.watermark {
    margin-right: 0.5em; 
    opacity: 0.3;
    color: #888; 
    font-size: 12px; 
}


