body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'DM Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    text-align: center;
}

header {
    text-align: center;
    padding: 20px 0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav li {
    margin-bottom: 10px;
}

.sidenav a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 5px 0;
}

.sidenav ul ul {
    padding-left: 20px;
    display: none;
}

.sidenav .has-submenu > a::after {
    content: ' ▼';
    font-size: 0.7em;
}

.sidenav .submenu-active > ul {
    display: block;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.menu-button {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

section p {
    font-size: 18px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    margin-top: auto;
}

footer img {
    width: 30px;
    margin: 0 10px;
    vertical-align: middle;
}

.watermark {
    margin-top: 1em;
    opacity: 0.3;
    color: #888;
    font-size: 12px;
    font-family: 'DM Mono', monospace;
}

.watermark a {
    text-decoration: none;
    color: #888;
}

@media screen and (max-width: 768px) {
    .sidenav {
        width: 90%;
    }

    .menu-button {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .sidenav.show {
        display: block;
    }

    .sidenav .submenu-active > ul {
        display: block;
    }
}

@media screen and (min-width: 769px) {
    section p {
        font-size: 25px;
        padding: 100px;
    }

    footer img {
        margin: 0 2cm;
    }
}
